:root {
    --azuloscuro:#001827;
    --azulmarino:#08314A;
    --amarillo:#F7E466;
    --amarillo2:#FAAF3B;

    --verde:#09D77D;
    --verde2:#00A945;

    --rojo:#FD5660;
    --rojo2:#D4145A;

    --azul:#0CD3C7; 
    --azul2:#00A99D;
    
    --naranja:#FD9244;
    --naranja2:#F15A24;
    
    --blanco:#ffffff;

    --tetsborder: 4px rgb(15, 220, 15) solid;
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 24px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--azulmarino), var(--azuloscuro));
}
.icono_circulo i{
    color: white;
    margin-bottom: 40px;
}

/* Estilos de navegación para pantallas grandes */
nav { 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    font-size: 14px;
    color: var(--amarillo);
    margin-right: 10px;
    font-family: "Sintony", sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: 28px 8px;
}


.conticon {
    display: none;
}


.imagenlogo{
    width: 300px;
}
.logo {
    max-width: 400px;
    height: 100px;
    margin-right: 300px;
    z-index: 1;
    }
    
    .logo img {
    width: 200px;
    z-index: 0;
    }
    

.anchoopciones{
    max-width: 600px;

    margin: auto;
    text-align: right;
}

.anchonav{
    max-width: 1600px;
    display: flex;
    flex-direction: row;

}


.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 300px;
    right: 100px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.whatsapp-float i {
    color: var(--blanco);
}

.whatsapp-float:hover {
    background-color: var(--verde2);
}



.c1{
    width: 1300px;
    height: 480px;
    color: var(--verde);
    margin: auto;
    position: relative;
    
 }

.banner {
    margin-left: 30px;
    width: 1000px;
    max-width: 1600px;
    margin:start;
    z-index: 3;

}

.banner figure{
    padding-left:20px ;
}

.banner2 {  
    width: 100px;
    height: 100px;
    text-align: center;
    z-index: 1;  
   
}
 
.banner2 img {
    width: 1200px;
    height: 480px;
    z-index: 3;
  
}

.iconos{
    width: 370px;
    margin-top: 220px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}
.iconos a{
font-family: impact;
    padding: 6px 30px;
    margin-left: 70px;
    margin-top: 10px;
    color: var(--azuloscuro);
    text-decoration: none;
   
}

.iconos a:hover{
    background-color: var(--verde);
}
.iconos i{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 40px;
    border-radius: 100%;
    color: rgb(16, 11, 11);
    z-index: 0;
}

.rojo{
    background-color: var(--azul);
    border-radius: 20px;
}

.verde{
    background-color: var(--rojo2);
    border-radius: 20px;
   
    
}
.azul{
    background-color: var(--naranja);
    border-radius: 20px;
    font-size: 12px;
}

.iconos a {
    display: inline-block;
    opacity: 1; /* Cambia a 1 para verificar visibilidad */
    transition: opacity 0.5s ease;
}

.slide-left {
    animation: slideFromLeft 1s forwards ease-in-out;
    animation-delay: 0.5s; /* Añade un retraso de inicio */
}

.slide-right {
    animation: slideFromRight 1s forwards ease-in-out;
    animation-delay: 0.5s; /* Añade un retraso de inicio */
}

/* Definimos la animación desde la izquierda */
@keyframes slideFromLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Definimos la animación desde la derecha */
@keyframes slideFromRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.c3{
    height:470px;
    margin: auto;
    margin-top: 20px;
}

.serviciotext{
    max-width: 1000px;
    height: 200px;
    margin: auto;
}

.titulo2 {
    border-bottom: 2px solid var(--azulmarino); /* Cambia el color y el grosor según prefieras */
    padding-bottom: 2px;           /* Ajusta el espacio entre el texto y la línea */
    display: inline-block;          /* Esto ayuda a que la línea solo ocupe el ancho del texto */
}


.serviciotext h1{
    margin-top: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    color: var(--azuloscuro);
}
.serviciotext b{
    color: var(--amarillo2);
}
.serviciotext p{
    margin-top: 5px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.servicio a{
    font-size: 15px;
    text-decoration: none;
    background-color: #001827;
    padding: 20px;
}

/* Animación de entrada para el contenedor */
.serviciotext {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease forwards;
}

/* Animación de entrada para cada párrafo y el título */
.serviciotext h1 {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.5s;
}

.serviciotext p {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.8s;
}

/* Keyframes para la animación de deslizamiento y desvanecimiento */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Contenedor principal */
/* Contenedor principal */
.contenedor-servicios {
    height: 280px; 
    width: 80%;
    max-width: 1200px;
    display: flex;               /* Activar flexbox */
    justify-content: center;      /* Alinear elementos al centro horizontalmente */
    align-items: center; 
    margin-top: 10px;
    margin: auto;
    background: var(--blanco);
    padding: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
             /* Alinear elementos al centro verticalmente (opcional) */
    flex-wrap: wrap;              /* Hace que los elementos se acomoden en filas si hay espacio */
    gap: 20px;                   /* Espacio entre elementos */
}


/* Subcontenedores de servicios */
.servicio {
    width: 21%;
    float: left;
    margin: 0 1.2%;
    background: var(--blanco);
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#mod1:hover {
    background: var(--azulmarino);
    transform: translateY(-8px);
    color: var(--blanco);
}


#mod1:hover .icono-servicio {
    color:var(--blanco);
    transform: scale(1.1);
}


#mod1:hover p 
{
    color: var(--blanco);
    transform: scale(1.1);
}


#mod1:hover h3 
{
    color: var(--blanco);
    transform: scale(1.1);
}




/* Keyframes para la animación */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.icono-servicio {
    font-size: 2.5rem;
    color:var(--azuloscuro);
    margin-bottom: 15px;
}

.servicio h3 {
    margin-bottom: 15px;
    color: var(--azulmarinoo);
    font-size: 1.5rem;
}

.servicio p {
    color: var(--azulmarino);
    font-size: 1rem;
    line-height: 1.5;
}

/* Limpiar floats */
.contenedor-servicios::after {
    content: "";
    display: table;
    clear: both;
}


.c4{
    max-width: 900px;
    height: 1400px;
    margin: auto;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.portfolio-container a{
    text-decoration: none;
    color: var(--blanco);
}
.portfolio-item {
    position: relative;
    width: 80%;
    max-width: 250px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: translateY(-10px);
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.05);
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    border-radius: 15px;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
    border: 5px var(--amarillo2) solid;
}

.portfolio-overlay h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.portfolio-overlay p {
    font-size: 1em;
    margin: 0;
}



.titulo {
    font-family: 'Sintony', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--azulmarino);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px;
    margin: 10px 0;
    padding-bottom: 20px;
}

.titulo:hover {
    color: var(--amarillo2);
   transition: color 0.3s ease, border-bottom-color 0.3s ease;
}


/* Estilos base para la animación */
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.portfolio-item {
    position: relative;
    width: 400px; 
    display: flex;
}

.portfolio-item:nth-child(1) { animation-delay: 0.1s; }
.portfolio-item:nth-child(2) { animation-delay: 0.2s; }
.portfolio-item:nth-child(3) { animation-delay: 0.3s; }
.portfolio-item:nth-child(4) { animation-delay: 0.4s; }
.portfolio-item:nth-child(5) { animation-delay: 0.5s; }
.portfolio-item:nth-child(6) { animation-delay: 0.6s; }

/* Keyframes para animación de entrada */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.contproyectosweb{
     width: 900px;
    height: 450px;
    padding:10px;
    display: flex;
   
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;

}

.contproyweb{
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    

}
.contproyweb  figure{
    width: 200px;
    height: 400px;
   
}

.contproyweb img{
    border-radius: 8px;
    width: 200px;
    height: 300px;   
}

.contproyweb:hover img {
    transform: scale(1.05);
}

.contproyweb a{
    text-decoration: none;
    color: #001827;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 80px;
    border-radius: 8px;
    background-color: var(--azulmarino);
    color: var(--blanco);
    margin-top: 10px;
}


.serviciotext2{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.serviciotext2 h2{
    padding: 10px;
    color: var(--azulmarino);

}
.serviciotext2 b{
    color: var(--amarillo2);
}

.contproyweb a:hover{
    background-color: var(--amarillo2);
}


/* Opcional: Estilos para el overlay */
.portfolio-overla2 {
    position: absolute;
    top: -35px;
    left: 20px;
    width: 210px;
    height: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 20px;
    border: 5px var(--amarillo2) solid;
}

.contproyweb:hover .portfolio-overla2 {
    opacity: 1;
}

.contproyweb:hover a{
    background-color: var(--amarillo2);
  
}
.c4 p{
    margin-bottom: 10px;
}

.portfolio-overla2 h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
    font-size: 18px;
    text-align: center;
}


.c5{
    max-width: 1200px;
    margin: auto;
    height: 240px;
}

.contenedor-cotizacion {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: 20px;
    margin: auto;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 200px;
    background-color: var(--blanco);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}


.card:hover {
    transform: translateY(-5px);
    background-color: var(--azulmarino);
}

.card:hover h3{
    color: var(--blanco);
}

.card:hover i{
    color: var(--blanco);
}

.card:hover a{
    background-color: var(--amarillo2);
}


  .card h3 {
    color:var(--azulmarino);
    margin-bottom: 15px;
  }

  .boton-cotizar {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #ffffff;
    background-color: var(--azulmarino);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }


.form-container {
    width: 100%;
    max-width: 400px;
    background-color: var(--blanco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    color: var(--azuloscuro);
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: var(--gris);
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--blanco);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    border-color: var(--amarillo);
}

.form-group textarea {
    resize: vertical;
    height: 80px;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: var(--azulmarino);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: var(--amarillo2i);
}



footer {
    height: 150px;
    background-color: var(--azuloscuro); /* Color de fondo */
    color: var(--blanco); /* Color de texto */
    padding: 20px; /* Espaciado interno */
    text-align: right; /* Centra el texto */
}

footer p {
    margin-right: 40px;
    margin-bottom: 15px; /* Espaciado entre el texto y los iconos */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: 600; /* Negrita */

}

.iconos2 {
    max-width: 1200px;
    display: flex; /* Utiliza flexbox para alinear los iconos */
    justify-content: right; /* Centra los iconos */
    gap: 20px; /* Espacio entre los iconos */
}

.iconos2 a {
    color: var(--blanco); /* Color de texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    padding: 10px; /* Espaciado alrededor del texto */
    border-radius: 4px; /* Esquinas redondeadas */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
}

.iconos2 a:hover {
    transform: translateY(-3px); /* Efecto de movimiento al pasar el mouse */
}

.rojo2:hover {
    background-color: var(--rojo); /* Color de fondo al pasar el mouse */
}

.verde2:hover {
    background-color: var(--verde); /* Color de fondo al pasar el mouse */
}

.azul2:hover {
    background-color: var(--azul); /* Color de fondo al pasar el mouse */
}


.rojo2{
    background-color: var(--azul);
    border-radius: 20px;
}

.verde2{
    background-color: var(--rojo2);
    border-radius: 20px;
   
    
}
.azul2{
    background-color: var(--verde2);
    border-radius: 20px;
    font-size: 12px;
}

.iconos2{
    
    width: 1200px;
    text-align: center;
    z-index: 0;
   
}
.iconos2 a{
    font-family: impact;
    padding: 10px 15px;
    margin-top: 10px;
    color: var(--azuloscuro);
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
   
}

.iconos2 a:hover{
    background-color: var(--amarillo2);
}
.iconos2 i{
    font-size: 20px;
    margin: auto;
    border-radius: 100%;
    color: rgb(16, 11, 11);
    z-index: 0;
}

/* Estilos para el banner */
.banner {
    width: 100%;
    height: 60vh;
    background: linear-gradient(to right, rgba(6, 9, 57, 0.2), rgba(0, 0, 0, 0.2)), 
                url('imagenes/Banner.jpg') center/cover no-repeat; /* Reemplaza con la URL de tu imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
  
}

/* Fondo con líneas diagonales */
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 999;
}




/* Contenido del banner */
.banner-content {
    position: relative;
    margin-left: 200px;
    z-index: 2;
}

.banner h1 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease forwards;
}

.banner p {
    font-size: 1.2em;
    margin: 10px 0;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease forwards;
}

/* Estilos del botón */
.banner .btn {

    padding: 12px 30px;
    background-color:var(--amarillo2);
    color: var(--azulmarino);
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeInUp 1s ease forwards;
}

.banner .btn:hover {
    background-color: var(--amarillo);
}


.recursos{
    width: 100px;
    margin-left: 100px;

}

.recursos img{ 
    width: 70px;
    margin: 5px;
}


.animate {
    opacity: 0;
  
}

.visible {
    opacity: 1;
    transform: translateY(40px);
    animation: fadeInUp 1s ease forwards; /* Añade un retraso de inicio */
}

/* Retrasos para una entrada escalonada */
#mod1 {
    animation-delay: 0.3s;
}



.c2{
    max-width: 1200px;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  
}

.primercontvid{
    width:350px ;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; /
}

.seguncontvid{
    width:600px ;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.strella{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.strella img{
    width: 300px;
}



.animateslideleft {
    opacity: 0;
}

.visible2{
    opacity: 1;
    transform: translateY(40px);
    animation: slideFromLeft  1s ease forwards; /* Añade un retraso de inicio */
}


.animateslideright{
    opacity: 0;
}

.visible3{
    opacity: 1;
    animation: slideFromRight 1s forwards ease-in-out;
   }



    /* Estilos para el modal */
    .modal2 {
        display:none ;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index:9;
    
      }
  
      .modal-content2 {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        width: 90%;
        max-width: 500px;
      }
  
      .close-btn {
        float: right;
        font-size: 18px;
        cursor: pointer;
      }
  
      /* Estilos del formulario */
      .form-group {
        margin-bottom: 15px;
      }
  
      .btn-submit {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
      }